.addon {

}

.addon__title {
  font-weight: normal;
  font-size: 24px;
  color: @black-two;
}

.addon__list {
  list-style: none;
}

.addon__item {

}

.addon__item-title {
  font-size: 16px;
  color: @black-three;
  font-weight: normal;
  text-transform: uppercase;
}

.addon__value {
  font-family: "Arial", sans-serif;
}

.addon__cost {
  font-family: "Arial", sans-serif;
}

.addon__buy {
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  text-decoration: none;
  color: @white;
  background-color: @leaf;
}

.addon__wrapper {
  background-color: @leaf;
  background-image: url(../../img/gift-photo-mobile@1x.jpg);
}

.addon__text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  color: @white;
}
