.application {

}

.application__text {
  line-height: 1.29;
  color: @black-two;
  text-transform: uppercase;
}

.application__form {

}

.application__item {
  border: none;
}

.application__info {

}

.application__label {
  font-size: 16px;
  line-height: 1.13;
  text-transform: uppercase;
  color: @black-two;
}

.application__input {
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  // color: @black-three;

  &::placeholder {
    color: @gray-two;
  }
}

.application__choice {

}

.application__title {
  font-size: 24px;
  color: @black-two;
}

.application__button {
  font-size: 16px;
  line-height: 1.25;
  color: @white;
  text-transform: uppercase;
  text-decoration: none;
  background-color: @leaf;
}

.application__text-field {
  font-family: "Arial", sans-serif;
  line-height: 1.14;
}
