.assortment__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.assortment__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid @gray-three;
}

.assortment__image {
  margin-left: 6.2%;
}

.assortment__wrapper {
  display: flex;
  flex-direction: column;
  width: 43.8%;
  margin-right: 6.2%;
  padding: 25px 0;
}

.assortment__title {
  display: block;
  margin: 0;
  margin-bottom: 18px;
  width: 60%;
  font-size: 16px;
  line-height: 1.25;
  color: @black-two;
  text-transform: uppercase;
  font-weight: normal;
}

.assortment__value {
  font-size: 12px;
  line-height: 1.33;
  font-family: "Arial", sans-serif;
  text-align: left;
}

.assortment__field {
  font-size: 12px;
  line-height: 1.33;
  font-family: "Arial", sans-serif;
  text-align: right;
}

.assortment__buy {
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 11px 0;
  width: 87.5%;
  text-align: center;
  font-size: 16px;
  line-height: 1.25;
  text-decoration: none;
  text-transform: uppercase;
  color: @white;
  background-color: @leaf;
}

.assortment__item-more {
  display: flex;
  position: relative;
  flex-direction: column;
  border-top: 1px solid @gray-three;
  border-bottom: 1px solid @gray-three;
}

.assortment__more {
  text-align: center;
  margin: 80px 6.3% 10px 6.3%;
  font-size: 16px;
  line-height: 1.25;
  color: @black-two;
  text-transform: uppercase;
  font-weight: normal;

  &::before {
    content: "";
    position: absolute;
    top: 25px;
    left: 50%;
    width: 31px;
    height: 31px;
    transform: translateX(-50%);
    background-image: url("../img/icon-plus-mobile.svg");
    background-repeat: no-repeat;
    opacity: 0.2;
  }
}

.assortment__text {
  margin: 0 6.3%;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 1.33;
}

.assortment__show {
  width: 87.5%;
  margin: 25px 6.3%;
  padding: 11px 0;
  text-align: center;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  text-decoration: none;
  color: @gray-two;
  background-color: @white-two;
}
