.example {
  background-color: @white-two;
}

.example__title {
  display: block;
  margin: 0;
  padding: 16px 20px 24px 20px;

  font-size: 36px;
  line-height: 1.67;
  color: @black-two;
  font-weight: normal;
}

.example__wrapper {
  display: flex;
  flex-direction: column;
}

.example__info {
  padding: 0 20px;
}

.example__text {
  margin: 0;

  font-family: "Arial", sans-serif;
  line-height: 1.29;
}

.example__list {
  display: flex;
  margin-top: 25px;
  padding: 0;

  list-style: none;
}

.example__item {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
  width: 50%;

  &:last-child {
    margin-right: 0;
  }
}

.example__text-top {
  display: block;

  padding: 15px 0;

  font-size: 24px;
  text-transform: uppercase;
  color: @black-two;
  font-weight: normal;
  text-align: center;

  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.example__text-bottom {
  display: block;

  margin: 0 auto;
  margin-top: -8px;
  padding: 0 15px;
  width: 45%;

  font-family: "Arial", sans-serif;
  font-size: 12px;
  text-align: center;

  background-color: @white-two;
}

.example__cost {
  display: block;

  margin: 25px auto;

  color: @black-two;
  line-height: 1.43;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
}

.example__slider {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.example__cat {
  display: block;
  margin: 0 auto;
}

.example__cat--after {
  display: none;
}

.example__toggle {
  display: flex;
  justify-content: space-between;
  margin: 35px auto;
  width: 200px;
  align-items: center;
}

.example__label {
  font-size: 16px;
  line-height: 1.25;
  color: @black-two;
  text-transform: uppercase;
  cursor: pointer;
}

.example__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.example__toggle-range {
  width: 82px;
  height: 12px;

  position: relative;
  z-index: 3;

  cursor: pointer;

  border-radius: 6px;
  border: solid 1px #cdcdcd;
  background-color: #ffffff;
}

.example__button {
  width: 35px;
  height: 6px;

  position: absolute;
  z-index: 4;

  left: 4px;
  top: 3px;

  cursor: pointer;

  border: none;

  border-radius: 3px;
  background-color: #68b738;
}

//ПЛАНШЕТ//

@media (min-width: @tablet-width) {
  .example {
    background-color: @white;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 462px;
      background: linear-gradient(to left, #eaeaea 0, #eaeaea 50%, #f2f2f2 50%, #f2f2f2 100%);
      z-index: 1;
    }
  }

  .example__title {
    font-size: 60px;
    padding: 50px 30px 60px 30px;
    border-top: 1px solid @gray-three;
  }

  .example__wrapper {
    padding: 0;
  }

  .example__info {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    padding: 0 30px;
    z-index: 2;
  }

  .example__text {
    padding-right: 10px;
    font-size: 16px;
    line-height: 1.5;
  }

  .example__cost {
    margin: 0;
    margin-top: 65px;
    margin-left: auto;
    text-align: right;
    align-items: center;
    width: 174px;
    font-size: 20px;
    line-height: 1;
  }

  .example__price {
    display: block;
    margin-top: 10px;
  }

  .example__list {
    width: 366px;
    margin-top: 55px;
  }

  .example__item {
    margin-right: 42px;
  }

  .example__text-top {
    font-size: 30px;
    line-height: 1.23;
  }

  .example__text-bottom {
    width: auto;
    padding: 0 8px;
    font-size: 14px;
    background-color: @white;
  }

  .example__slider {
    width: 100%;
    z-index: 2;
  }

  .example__image {
    display: flex;
    position: relative;
    height: 517px;
    width: 100%;
  }

  .example__cat {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;

    &--before {
      clip: rect(auto, 347px, auto, auto);
    }

    &--after {
      display: block;
      clip: rect(auto, auto, auto, 347px);
    }
  }

  .example__label {
    font-size: 20px;
    line-height: 1;
    z-index: 1;
    padding: 5px 0;
    border-bottom: 1px dotted #d9d9d9;
  }

  .example__toggle {
    width: auto;
    margin-bottom: 70px;
  }

  .example__toggle-range {
    width: 428px;
    height: 6px;
    margin: 0 25px;
    background: #d9d9d9;
    border: none;
  }

  .example__button {
    top: -13px;
    left: 200px;
    padding: 0;
    width: 34px;
    height: 34px;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    background-color: @white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 12px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: @leaf;
    }
  }
}

//ДЕСКТОП//

@media (min-width: @desktop-width) {
  .example {
    &::before {
      background: linear-gradient(to left, #eaeaea 0, #eaeaea 25%, #f2f2f2 25%, #f2f2f2 100%);
    }
  }

  .example__title {
    width: 1220px;
    padding: 0 30px;
    margin: 0 auto;
    margin-bottom: 140px;
    border: none;
  }

  .example__wrapper {
    flex-direction: row;
    width: 1220px;
    padding: 0 30px;
    margin: 0 auto;
  }

  .example__info {
    margin: 0;
    padding: 0;
    width: 50%;
    flex-direction: column;
  }

  .example__cost {
    margin: 0;
    margin-top: 60px;
    margin-bottom: 75px;
    text-align: left;
    width: 350px;
  }

  .example__price {
    margin: 0;
    margin-left: 65px;
    display: inline-block;
  }

  .example__slider {
    background: transparent;
    margin-top: -265px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 287px;
      height: 462px;
      bottom: 0;
      right: 0;
      background-color: @gray-three;
      z-index: 0;
    }
  }

  .example__text {
    width: 430px;
    padding: 0;
  }

  .example__list {
    margin: 0;
    margin-top: 70px;
  }

  .example__text-bottom {
    background-color: @white-two;
  }

  .example__cat {
    margin: 0;
    z-index: 2;
    margin-left: 139px;

    &--before {
      clip: rect(auto, 365px, auto, auto);
    }

    &--after {
      clip: rect(auto, auto, auto, 363px);
    }
  }

  .example__toggle {
    margin: 0;
    margin-top: 42px;
    margin-left: auto;
  }
}
