.example {
  background-color: @white-two;
}

.example__title {
  display: block;
  margin: 0;
  margin-bottom: 24px;
  margin-left: 6.3%;
  padding-top: 16px;
  width: 280px;

  font-size: 36px;
  line-height: 1.67;
  color: @black-two;
  font-weight: normal;
}

.example__wrapper {
  display: flex;
  flex-direction: column;
}

.example__text {
  margin: 0;
  margin-left: 6.3%;
  margin-right: 10.6%;
  padding: 0;

  font-family: "Arial", sans-serif;
  line-height: 1.29;
}

.example__list {
  display: flex;
  justify-content: space-between;

  margin: 0 6.3%;
  margin-top: 25px;
  padding: 0;

  list-style: none;
}

.example__item {
  display: flex;
  flex-direction: column;
  width: 43%;
}

.example__text-top {
  display: block;

  padding: 15px 0;

  font-size: 24px;
  text-transform: uppercase;
  color: @black-two;
  font-weight: normal;
  text-align: center;

  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.example__text-bottom {
  display: block;

  margin: 0 auto;
  margin-top: -8px;
  padding: 0 12.1%;
  width: 45%;

  font-family: "Arial", sans-serif;
  font-size: 12px;
  text-align: center;

  background-color: @white-two;
}

.example__cost {
  display: block;

  margin: 25px 0;

  color: @black-two;
  line-height: 1.43;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
}

.example__slider {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.example__after {
  display: none;
}

.example__toggle {
  display: flex;
  justify-content: space-between;
  margin: 35px auto;
  width: 200px;
  align-items: center;
}

.example__label {
  font-size: 16px;
  line-height: 1.25;
  color: @black-two;
  text-transform: uppercase;
  cursor: pointer;
}

.example__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.example__toggle-range {
  width: 82px;
  height: 12px;

  position: relative;
  z-index: 3;

  cursor: pointer;

  border-radius: 6px;
  border: solid 1px #cdcdcd;
  background-color: #ffffff;
}

.example__button {
  width: 35px;
  height: 6px;

  position: absolute;
  z-index: 4;

  left: 4px;
  top: 3px;

  cursor: pointer;

  border: none;

  border-radius: 3px;
  background-color: #68b738;
}
